html * {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a,
a:visited {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

nav,
footer {
  padding: 1rem 0rem 1.25rem 0.75rem;
  font-size: .9rem;
  height: 1rem;
}

nav {
  background-color: #ffffff;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

nav a,
footer a {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  margin-left: -4px;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #101010;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #202020;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #404040;
  font-weight: normal;
}

h4 {
  font-size: 1.5rem;
  color: #202020;
  margin-bottom: 1rem;
}

p, ol, ul {
  line-height: 1.65rem;
}

main > h2 {
  text-align: center;
}

article {
  margin: 2rem;
  border-top: 1px solid #dcdcdc;
  width: 60%;
  margin: auto;
}

section {
  margin: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #dcdcdc;
  width: 60%;
  margin: auto;
}

article p:first-child,
section p:first-child {
  font-size: 0.85em;
}

article h2,
section h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

code {
  background: #f0efed;
  padding: 0.22rem;
  color: #000000;
}

blockquote {
  margin: 2rem 0 2rem 2rem;
  padding: .4rem .8rem;
  border-left: .35rem solid #0d47a1;
  color: var(--text-light);
  font-style: italic;
}

pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.85rem;
  background-color: #141414;
  color: #fff;
  padding: 0.75rem;
  border-radius: 5px;
}

details {
  border: #dcdcdc 2px solid;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .7rem 1rem;
}

article img,
details img {
  max-width: 100%;
  height: auto;
}

summary {
  cursor: pointer;
  font-weight: 700;
  padding: .7rem 1rem;
  margin: -.7rem -1rem;
  word-break: break-all;
}

small {
  display: block;
}

/* Format tables */
article table,
section table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

article td,
article th,
section td,
section th {
  border: 1px solid #c8c8c8;
  text-align: start;
  padding: 0.5rem;
}

article th,
section th {
  background-color: #f0f0f0;
  font-weight: bold;
}

article tr:nth-child(even),
section tr:nth-child(even) {
  background-color: #f0f0f0;
}

article tr:nth-child(odd),
section tr:nth-child(odd) {
  background-color: #f8f8f8;
}

@media (max-width: 900px) {
  article {
    width: 90%;
  }

  section {
    width: 90%;
  }
}
