html * {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #1976d2;
}

a:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

code {
  background: #f0efed;
  padding: 0.25rem;
  color: #000000;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #101010;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #202020;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #404040;
  font-weight: normal;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

nav {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  padding: 1.25rem;
  font-size: .9rem;
  text-align: center;
  height: 1rem;
}

nav a {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  margin-left: -4px;
}

main > h2 {
  text-align: center;
}

article {
  border: 0;
}

section {
  border-top: 1px solid #c0c0c0;
}

article p:first-child,
section p:first-child {
  font-size: 0.85em;
}

article h2,
section h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.85rem;
  background-color: #141414;
  color: #fff;
}

table {
  display: table;
}
