html * {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #404040;
  font-weight: normal;
}

header {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-bottom: 0 !important;
}

article {
  border: 0;
}

article h2,
section h2 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

pre {
  font-size: 0.9rem;
  background-color: #141414;
  color: #fff;
}

table {
  display: table;
}

footer {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin-top: 3rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: .9rem;
  text-align: center;
  border-top: 1px solid #ccc !important;
}

footer a,
footer a:visited {
  padding: 0 1.25rem 0 1.25rem;
  text-decoration: none;
  color: #323232;
}

footer a:hover {
  text-decoration: underline;
}
