.classicalBoard {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, [col] 4vw);
  grid-template-rows: repeat(8, [row] 4vw);
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.capablanca80Board {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, [col] 3.29vw);
  grid-template-rows: repeat(8, [row] 3.29vw);
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.sq {
  position: relative;
  text-align: center;
  cursor: default;
}

.square-right-clicked {
  background-color: #eb3131;
  opacity: 0.75;
}

.sq img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.sq img[draggable=true] {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.sq img[draggable=false] {
  cursor: default;
}

.sq img[draggable=true]:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  padding-right: 0.25em;
  width: 105%;
}

.sq span.file {
  position: absolute;
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 0.15rem;
  margin-bottom: 0.15rem;
  bottom: 0;
  right: 0;
}

.sq span.rank {
  position: absolute;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 0.15rem;
  margin-top: 0.15rem;
  top: 0;
  left: 0;
}

.sq.a1 span,
.sq.c1 span,
.sq.e1 span,
.sq.g1 span,
.sq.i1 span,
.sq.j8 span,
.sq.h8 span,
.sq.f8 span,
.sq.d8 span,
.sq.b8 span {
  color: #ffce9e;
}

.sq.b1 span,
.sq.d1 span,
.sq.f1 span,
.sq.h1 span,
.sq.j1 span,
.sq.i8 span,
.sq.g8 span,
.sq.e8 span,
.sq.c8 span,
.sq.a8 span {
  color: #d18b47;
}

.sq.j2 span,
.sq.j4 span,
.sq.j6 span {
  color: #ffce9e;
}

.sq.a3 span,
.sq.a5 span,
.sq.a7 span {
  color: #ffce9e;
}

.sq.h6 span,
.sq.h4 span,
.sq.h2 span {
  color: #ffce9e;
}

.sq.j3 span,
.sq.j5 span,
.sq.j7 span {
  color: #d18b47;
}

.sq.a2 span,
.sq.a4 span,
.sq.a6 span {
  color: #d18b47;
}

.sq.h7 span,
.sq.h5 span,
.sq.h3 span {
  color: #d18b47;
}

.sq.isSelected {
  background-color: #ffdd43 !important;
  opacity: 0.75;
  box-shadow: inset -4px 0 0 yellow, inset 0 -4px 0 yellow,
    inset 4px 0 0 yellow, inset 0 4px 0 yellow;
}

.sq.isLegal {
  box-shadow: inset -4px 0 0 #ffdd43, inset 0 -4px 0 #ffdd43,
    inset 4px 0 0 #ffeb8e, inset 0 4px 0 #ffeb8e;
  cursor: pointer;
}

.sq.isCheck {
  box-shadow: inset -5px 0 0 #fdd57d, inset 0 -5px 0 #fdd57d,
    inset 5px 0 0 #fdd57d, inset 0 5px 0 #fdd57d;
}

.sq.w {
  background-color: #ffce9e;
}

.sq.b {
  background-color: #d18b47;
}

.past {
}

img,
.noTextSelection,
.classicalBoard,
.capablanca80Board {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 900px) {
  .classicalBoard {
    grid-template-columns: repeat(8, [col] 10vw);
    grid-template-rows: repeat(8, [row] 10vw);
  }
  .capablanca80Board {
    grid-template-columns: repeat(10, [col] 9vw);
    grid-template-rows: repeat(8, [row] 9vw);
  }
}

@media (max-width: 600px) {
  .classicalBoard {
    grid-template-columns: repeat(8, [col] 12vw);
    grid-template-rows: repeat(8, [row] 12vw);
  }
  .capablanca80Board {
    grid-template-columns: repeat(10, [col] 9vw);
    grid-template-rows: repeat(8, [row] 9vw);
  }
}
