#redux-chess {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.board {
  font-family: FreeSerif, sans-serif;
  border: 1px solid #ccc;
  clear: both;
  margin: auto;
}

.board-row {
  clear: both;
}

.square {
  font-size: 10vh;
  text-align: center;
  float: left;
  cursor: pointer;
}

.square span {
  height: 9vh;
  width: 9vh;
  display: block;
}

.square span::selection {
  background: transparent;
}

.square span:focus {
  outline: none;
  box-shadow: inset -3px 0 0 #aed6f1, inset 0 -3px 0 #aed6f1,
    inset 3px 0 0 #aed6f1, inset 0 3px 0 #aed6f1;
}

.square span:hover {
  box-shadow: inset -3px 0 0 #ccccff, inset 0 -3px 0 #ccccff,
    inset 3px 0 0 #ccccff, inset 0 3px 0 #ccccff;
}

.square.w {
  background-color: #f8f8f8;
}

.square.b {
  background-color: #a9a9a9;
}

.board.past .square span:hover {
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .square {
    font-size: 9vw;
  }

  .square span {
    height: 9vw;
    width: 9vw;
  }
}
