#redux-chess {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game .board {
  font-family: FreeSerif, sans-serif;
  border: 1px solid #ccc;
  width: 480px;
  height: 480px;
}

.board-row {
  clear: both;
}

.square {
  font-size: 63px;
  text-align: center;
  float: left;
  cursor: pointer;
}

.square span {
  height: 60px;
  width: 60px;
  display: block;
}

.square span::selection {
  background: transparent;
}

.square span:focus {
  outline: none;
  box-shadow: inset -3px 0 0 #aed6f1, inset 0 -3px 0 #aed6f1, inset 3px 0 0 #aed6f1, inset 0 3px 0 #aed6f1;
}

.square span:hover {
  box-shadow: inset -3px 0 0 #ccccff, inset 0 -3px 0 #ccccff, inset 3px 0 0 #ccccff, inset 0 3px 0 #ccccff;
}

.square.w {
  background-color: #f8f8f8;
}

.square.b {
  background-color: #a9a9a9;
}

.board.past .square span:hover {
  cursor: not-allowed;
}
